Earthquake-Project/Earthquake_pipleine.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "08a73b71-aae0-8747-4e76-81cb750e7251",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@formatDateTime(addDays(utcnow(), -2), 'yyyy-MM-dd')",
                "type": "Expression"
              },
              "type": "string"
            },
            "end_date": {
              "value": {
                "value": "@formatDateTime(utcnow(),'yyyy-MM-dd')",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Bronze",
        "dependsOn": []
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "c72323de-0985-8f8c-4f85-c058d0bbdb53",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).start_date",
                "type": "Expression"
              },
              "type": "string"
            },
            "end_date": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).end_date",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Silver",
        "dependsOn": [
          {
            "activity": "Wait 1min",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "1f021791-caa2-ad95-496e-84002f461432",
          "workspaceId": "00000000-0000-0000-0000-000000000000",
          "parameters": {
            "start_date": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).start_date",
                "type": "Expression"
              },
              "type": "string"
            },
            "end_date": {
              "value": {
                "value": "@json(activity('Bronze').output.result.exitValue).end_date",
                "type": "Expression"
              },
              "type": "string"
            }
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "Gold",
        "dependsOn": [
          {
            "activity": "Wait 1 min",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": 120
        },
        "name": "Wait 1min",
        "dependsOn": [
          {
            "activity": "Bronze",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "Wait",
        "typeProperties": {
          "waitTimeInSeconds": 60
        },
        "name": "Wait 1 min",
        "dependsOn": [
          {
            "activity": "Silver",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}